.header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 47, 105);
}

body {
    background-color: #fff9ac;
}

.center-image {
    display: block;
    margin: 0 auto;
    
}

.img-center {
    text-align: center;
}

ul li,
ol li {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-style: italic;
}

h4 {
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", serif;
    font-style: italic;
}